- var ICON = "../../icons/favicon.ico";
- var CSS = "../../main.a873567c294c371b65d4.css";
- var FORM = "../../form-validation.js";
- var TITLE = "YelpCamp: Member Edit";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug
    script(src=FORM)   
    include ../lib/header.pug 
    .container.my-5.pt-5 
      h1.text-center 
        span.fad.fa-edit.mr-2 
        span Member: Edit Form 
      .col-6.offset-3 
        div 
          a(href="/members/"+record._id) 
            span.fal.fa-house-return.mr-2  
            span Back to Member 
        form.validated-form(action="/members/"+record._id+"?_method=PUT", method="post" novalidate) 
          .mb-3 
            label.form-label(for="username") Update Username  
            input.form-control(type="text" id="username"  name="username" value=record.username required)
            .valid-feedback 
                p Looks good!
            .invalid-feedback 
                p This field is required 
          .mb-3 
            label.form-label(for="email") Update Email   
            input.form-control(type="email" id="email"  name="email" value=record.email required)
            .valid-feedback 
                p Looks good!
            .invalid-feedback 
                p This field is required 
          .mb-3 
            label.form-label(for="password") Update Password 
            input.form-control(type="password" id="password" placeholder="password" name="password" required)
            .valid-feedback 
                p Looks good!
            .invalid-feedback 
                p This field is required 
          button.btn.btn-info(type="submit") Update Member
    include ../lib/footer.pug 