- var ICON = "icons/favicon.ico";
- var CSS = "main.a873567c294c371b65d4.css";
- var TITLE = "YelpCamp: Members";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug
    include ../lib/header.pug
    - var alertOK =OK_MSG;
    if (alertOK && alertOK.length)
      .alert.alert-success.alert-dismissible.fade.show(role="alert")
        strong #{OK_MSG}
        button.close(type="button" data-dismiss="alert" aria-label="Close") 
          span(aria-hidden="true") &times;
    .container.my-5.pt-5
      h1.text-center 
            span.fad.fa-users.mr-2 
            span YelpCamp: Members 
      each record in data 
        .card.mb-3.col-8.m-auto
          .card-body
            .row
              .col-6  
                h2.card-title    
                  span.fad.fa-user.mr-2
                  small #{record.username}
              .col-6
                a.card-link.btn.btn-primary.ml-5(href='/members/'+record._id) View #{record.title}
    include ../lib/footer.pug 
