html(lang="en")
  head
    meta(charset="UTF-8")
    title New Campsite
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../icons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../icons/favicon.ico" type="image/x-icon")
    link(href="../main.710abf4c7592553fc7f8.css" rel="stylesheet")
  body
    script(src="../form-validation.js") 
    include header.pug 
    .container.my-5.pt-5  
      h1.text-center New Campsite 
      .col-6.offset-3  
        form.validated-form(action="/campsites", method="post" novalidate) 
          .mb-3 
            label.form-label(for="title") Title
            input.form-control(type="text" id="title" placeholder="Silent Creek" name="campsite[title]" required)
            .valid-feedback 
              p Looks good!
            .invalid-feedback 
              p This field is required 
          .mb-3 
            label.form-label(for="image") Image URL
            input.form-control(type="text" id="image" placeholder="https://..." name="campsite[image]" required)
            .valid-feedback 
              p Looks good!
            .invalid-feedback 
              p This field is required
          .mb-3 
            label.form-label(for="price") Campsite Price
            .input-group 
              span.input-group-text(id="price-label") $
              input.form-control(
                type="text" id="price" placeholder="0" aria-label="price" 
                name="campsite[price]" aria-described-by="price-label" required)
              .valid-feedback 
                p Looks good!
              .invalid-feedback 
                p This field is required
          .mb-3 
            label.form-label(for="description") Description
            textarea.form-control(cols="30", rows="5" type="text" id="description" name="campsite[description]" required)
            .valid-feedback 
              p Looks good!
            .invalid-feedback 
              p This field is required
          .mb-3 
            label.form-label(for="location") Location
            input.form-control(type="text" id="location" placeholder="Orlando, Florida" name="campsite[location]" required)
            .valid-feedback 
              p Looks good!
            .invalid-feedback 
              p This field is required
          button.btn.btn-success(type="submit") Add Campsite 
    include footer.pug       