html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit Page
  body 
    header 
      h1 Edit Campsite
    form(action="/campsites/"+record._id+"?_method=PUT", method="post") 
      div 
        label(for="title") Title
        input(type="text" id="title" name="campsite[title]" value=record.title)
      div 
        label(for="price") Price
        input(type="text" id="price" name="campsite[price]" value=record.price)
      div 
        label(for="description") Description
        input(type="text" id="description" name="campsite[description]" value=record.description)
      div 
        label(for="location") Location
        input(type="text" id="location" name="campsite[location]" value=record.location)
      button Submit
    div
      a(href="/campsites/"+record._id) Back to Campsite 