html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Campsites
  body 
    header 
      h1 All Campsites
    a(href="/campsites/new") New Campsite
    ul  
      each record in data 
        li 
          a(href='/campsites/'+record._id) #{record.title}