html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title New Campsite
  body 
    form(action="/campsites", method="post") 
      div 
        label(for="title") Title
        input(type="text" id="title" name="campsite[title]")
      div 
        label(for="price") Price
        input(type="text" id="price" name="campsite[price]")
      div 
        label(for="description") Description
        input(type="text" id="description" name="campsite[description]")
      div 
        label(for="location") Location
        input(type="text" id="location" name="campsite[location]")
      button Submit