html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Show Page
  body 
    header 
      h1 #{record.title} 
    p 
      strong Price: 
      span #{record.price} 
    p 
      strong Description: 
      span #{record.description} 
    p 
      strong Location: 
      span #{record.location} 
    footer 
      p
        a(href="/campsites/"+record._id+"/edit") Edit &nbsp;
      div 
        form(action="/campsites/"+record._id+"?_method=DELETE" method="post") 
          button Delete 
      p
        a(href="/campsites") Back to Campsites Page  