- var ICON = "icons/favicon.ico";
- var CSS = "main.cb6d322ebb9fa0dbd79f.css";
- var MSG = "I'm sorry. I could not find the page you are looking for.";
- var TITLE = "ERROR";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug 
    include ../lib/header.pug
    .container.my-5.pt-5 
      .alert.alert-danger(role="alert")
        h4.alert-heading.text-center 
          span.mr-3 ERROR
          span.fas.fa-exclamation-square 
        hr 
        p.text-center 
          span.fas.fa-bug
          span.ml-1 #{MSG}
        
      .alert.alert-light(role="alert")
        .mb-1
          p
            strong Status Code: 
            span #{status} 
          p 
            strong Error Message: 
            span #{message}
        hr 
        h5 Error Stack: 
        p.mb-1 #{stack}        
    include ../lib/footer.pug
