- var ICON = "../icons/favicon.ico";
- var CSS = "../main.cb6d322ebb9fa0dbd79f.css";
- var TITLE = "YelpCamp: ERROR";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug 
    include ../lib/header.pug
    .container.my-5.pt-5 
      .alert.alert-danger(role="alert")
        h4.alert-heading.text-center 
          span.mr-3 ERROR
          span.fas.fa-exclamation-square 
        hr 
        p.mb-0.text-center #{status} #{message}
      .alert.alert-light(role="alert")
        p.mb-1 
          span.fas.fa-bug
          span.ml-1 #{ERROR_MSG}
        hr 
        p.mb-1 #{stack}        
    include ../lib/footer.pug 