- var ICON = "../icons/favicon.ico";
- var CSS = "../main.a873567c294c371b65d4.css";
- var TITLE = "YelpCamp: ERROR";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug 
    include ../lib/header.pug
    .container.my-5.pt-5 
      .alert.alert-danger(role="alert")
        h4.alert-heading.text-center 
          span.mr-3 ERROR
          span.fas.fa-exclamation-square 
        hr 
        p.text-center 
          span.fas.fa-bug
          span.ml-1 #{ERROR_MSG}
        
      .alert.alert-light(role="alert")
        .mb-1
          p
            strong Status Code: 
            span #{status} 
          p 
            strong Error Message: 
            span #{message}
        hr 
        if (mode == "development")
          h5 Error Stack: 
          p.mb-1 #{stack}        
    include ../lib/footer.pug